div[style="color: white; font-size: 16px; box-shadow: 0 2px 2px rgba(0,0,0,0.3);width:20px; height: 20px; background: red; position: absolute; left: #{circle.center.x-10}px; top: #{circle.center.y-10}px"] = text

- for bound in circle.bounds
  div[style="box-shadow: 0 2px 2px rgba(0,0,0,0.3);width:2px; height: 2px; background: #0f0; position: absolute; left: #{bound.x-1}px; top: #{bound.y-1}px"]
