.step.slide#exceptions[data-x=x_succ data-y=0]
  q
    span Exceptions 
    small quando as coisas não vão bem...

.step.slide.code[data-x=x_succ data-y=0]
  q
    pre
      code[class="ruby"]
        | begin
            undef_method
          rescue NameError => e
            puts "Undef method!"
          end

.step.slide.code[data-x=x_succ data-y=0]
  q
    pre
      code[class="ruby"]
        | foo = undef_met rescue nil
          # nil

.step.slide.code[data-x=x_succ data-y=0]
  q
    pre
      code[class="ruby" style="font-size:0.7em;line-height:1.2em"]
        | require 'open-uri'
          retry_counter = 0
          begin
            open('http://www.google.com')
          rescue SocketError => e
            retry_counter += 1
            if retry_counter < 5
              sleep 5
              puts "Retry &#35;{retry_counter}"
              retry
            end
          end
.step.slide.code[data-x=x_succ data-y=0]
  q
    pre
      code[class="ruby" style="font-size:0.7em;line-height:1.2em"]
        | class SomeError < StandardError; end
          class Other < StandardError; end

.step.slide.code[data-x=x_succ data-y=0]
  q
    pre
      code[class="ruby" style="font-size:0.7em;line-height:1.2em"]
        | begin
            bogus
          rescue SomeError => e
          rescue OtherError => e
          ensure
            puts "Allways"
          end
